

.bkg-jumbotron{
	background-image: url(../images/bg2.jpg);
	width: 100%;
}
a.a-nav{
	color: #444444;
}
.titulo-header{
	color: white;
	text-align: center;
}
.sub-header{
	color: white;
	text-align: center;
}
span.glyphicon.glyphicon-camera {
    color: #444444;
}
.btn{
	width: 100px;
    background-color: #ed1650;
    color: purple;
}
.btn-header{
	background-color: #ededed;
	width: 120px;
	text-align: center;
	padding: 4px;
	border-radius: 2px;
}
a{
	color: white;
}

.center {
    text-align: center;
}
 
.row {
    margin-right: 0px;
    margin-left: 0px;
}
